.action-second {
 position: relative;
}

.marquee {
  position: absolute;
  top: 0;
  font-size: 0;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  z-index: -1;

}

.marquee__inner {
  font-size: 120px;
  font-weight: bold;
  color: #dddddd;
  white-space: nowrap;
  display: inline-block;
}

.action-second__product {
  max-width: 270px;
}