.burger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;

  @include rm(768){
    display: none;
  }
}

.burger-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  height: 3px;
  border-radius: 5px;
  background: $white;
  width: 100%;
  transition: 0.55s;
}
.burger-top {
  top: 4px;
}
.burger-middle {
  top: 50%;
  transform: translateY(-50%);
}
.burger-bottom {
  bottom: 4px;
}
.burger-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(45deg);
  transition: 0.55s 0.5s;
}
.burger-middle-click {
  opacity: 0;
}
.burger-bottom-click {
  backface-visibility: hidden;
  bottom: 12px;
  transform: rotate(-405deg);
  transition: 0.55s 0.5s;
}