.discount {
  position: relative;
}


.discount__wrapper{
  @include rm(640){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  @include rm(1024){
    position: relative;
    flex-direction: column;
    padding-left: 280px;
    padding-top: 90px;
    padding-bottom: 10px;
  }

  @include rm(1220){
    padding-left: 310px;
  }
}

.marquee {
  top: 0;
  font-size: 0;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  z-index: -1;
  margin-bottom: 20px;
  @include rm(1024) {
    position: absolute;
  }
}

.marquee__text {
  font-size: 65px;


  font-weight: bold;
  color: #dddddd;
  white-space: nowrap;
  display: inline-block;

  @include rm(1024) {
    font-size: 90px;
  }
  @include rm(1220) {
    font-size: 120px;
  }
}

.discount__product {
  //max-width: 270px;
  max-width: 180px;
  margin: 0 auto 20px;

  @include rm(640){
    margin: 0;
  }

  @include rm(1024){
    max-width: 230px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.discount-form .form-title {
  @include rm(1024){
    text-align: left;
    margin-right: 30px;
    margin-bottom: 0;
  }

  @include rm(1024){
    margin-right: 50px;
  }

  @include rm(1220){
    font-size: 30px;
  }
}
.discount-form  .form-title__text{
  @include rm(1220){
    display: inline;
  }
}
.discount-form {
  margin-bottom: 30px;

  @include rm(640){
    max-width: 350px;
    width: 100%;
    margin-bottom: 0;
  }

  @include rm(1024){
    max-width: 545px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;

    padding: 30px;
    border: 1px solid #009fe3;
    margin-bottom: 30px;
  }

  @include rm(1220){
    border: none;
    padding: 0;
    max-width: 100%;
  }


}

.discount__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;

  @include rm(1220){
    text-align: left;
  }
}

.discount__list {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

  @include rm(768){
    display: flex;
    max-width: 100%;
  }


}

.discount__list .item:not(:last-of-type) {
  @include rm(768){
    margin-bottom: 0;
  }
}

.discount__inner .form__input {
  @include rm(640){
    max-width: 100%;
  }

  @include rm(1024){
    max-width: 230px;

  }

  @include rm(1220){
    margin-bottom: 0;
    max-width: 275px;
  }
}

.discount__inner {
  @include rm(1024){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  @include rm(1220){
    width: 100%;
    flex-wrap: nowrap;
  }
}

.discount__list-wrapper {
  @include rm(640){
    margin-top: 30px;
  }
  @include rm(1024){
    margin-top: 0;
  }
}

.discount.price {
  @include rm(1024){
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.discount__btn {
  padding-top: 13px;
  padding-bottom: 13px;

  @include rm(1220){
    width: 275px;
    margin: 0;
  }
}

.discount__price {
  @include rm(1024){
    margin-right: 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}