.price .x_price_current,
.price .x_price_previous {
  font-size: 28px;


  @include rm(1024){
    font-size: 40px;
  }
}

.price .form__price-old::before {
  background-color: #000;
  top: -17px;
  height: calc(100% + 29px);
}

.price .form__price-old,
.price .form__price-new {
  padding: 0;
}

.price .form__price-new {
  margin-right: 10px;
  padding-right: 10px;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: #c4c4c4;
    width: 1px;
    height: 20px;
  }
}

.price {
  margin-bottom: 20px;
  text-align: center;

  @include rm(1024){
    margin-bottom: 0;
    margin-right: 25px;
  }
}