.promo.block {
  padding-top: 85px;
  background-color: white;

  @include rm(768){
    padding-top: 40px;
  }

  @include rm(1024){
    position: relative;
    padding-top: 60px;
  }

  @include rm(1220){
    padding-top: 90px;
  }

}

.promo__wrapper {
  position: relative;
  z-index: 2;
}

.promo .container {
  @include rm(1024){
    z-index: 2;
  }
}

.promo__decor {
  @include rm(1024){
    width: 847px;
    display: block;
    position: absolute;

    right: calc(50% - 430px);
    top: 0;
    bottom: -50px;
    transform: translateX(50%);
  }

  @include rm(1220){
    right: calc(50% - 380px);
    width: 927px;
  }
}

.promo__title {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 20px;

  @include rm(1024){

    margin: 0 auto 30px;
    margin-left: 0;

  }
}

.promo__subtitle {
  display: block;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;

  @include rm(1024){
    text-align: left;
    margin-bottom: 30px;
  }
}


.promo__list {
  width: 100%;
  max-width: 350px;
  margin: 0 auto 20px;

  @include rm(640){
    margin: 0;
  }

  @include rm(1024){
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.promo__item {
  @include rm(1024){
    width: 100%;
    max-width: 48%;
  }

}

.promo__product {
  max-width: 180px;
  width: 100%;
  margin: 0 auto 20px;
  @include rm(640){
    max-width: 160px;
    margin: 0;
  }

  @include rm(1024){
    max-width: 230px;
    position: absolute;
    bottom: -40px;
    left: calc(50% + 210px);
    transform: translateX(-50%);
  }

  @include rm(1220){
    max-width: 270px;
    bottom: -130px;
    left: calc(50% + 150px);
  }
}

.promo__form {
  max-width: 565px;
  padding: 20px;
  border: 1px solid #009fe3;
  margin: 0 auto;

  @include rm(640){
    padding: 40px;
  }

  @include rm(1024){
    margin-left: 0;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include rm(640){
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form__input::placeholder{
  color: #999;
}
.form__input {
  font-size: 16px;
  padding: 15px;
  width: 100%;
  margin-bottom: 15px;
  border: solid 1px #444;



  @include rm(640){
    max-width: 230px;
  }
}

.form__price {
  display: flex;
  width: 50%;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 22px;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid white;
}

.btn-text {
  width: 50%;
}


.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__price-old {
  color: #ff8888;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 50%;
    width: 1px;
    height: calc(100% + 20px);
    background-color: white;
    transform: rotate(-65deg) translateX(-50%);
  }
}

.promo__product__wrapper {
  @include rm(640){
    max-width: 565px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 20px;
  }

  @include rm(1024){
    margin: 0 auto 30px;
    margin-left: 0;
  }
}


