extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить Tonerin недорого. Цены, отзывы. Закажите Tonerin сейчас!";
  - const themeColor = "#ffffff";

append head

append content
  include components/header
  include components/promo


append scripts

