extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить Tonerin недорого. Цены, отзывы. Закажите Tonerin сейчас!";
  - const themeColor = "#ffffff";

append head

append content
  include components/header
  include components/promo
  include components/symptoms
  include components/dangerous
  include components/forget
  include components/action
  include components/decision
  include components/discount


append scripts

