.action-second
    #marquee1.marquee
        .marquee__inner
            | АКЦИЯ -50% АКЦИЯ -50% АКЦИЯ -50% АКЦИЯ -50%&nbsp;

    .container

        img.action-second__product(src="img/product.png", alt="product")

