section.dangerous.block
    .container

        h2.dangerous__title.title Чем&nbsp;
            ins опасна
            |  гипертония

        ul.dangerous__list
            li.dangerous__item
                .dangerous__wrapper
                    span.dangerous__num 200
                    span.dangerous__count млн.
                p.dangerous__text случаев инвалидности связаны с повышенным артериальным давлением

            li.dangerous__item
                .dangerous__wrapper
                    span.dangerous__num 9,4
                    span.dangerous__count млн.
                p.dangerous__text в год умирают от последствий гипертонии

            li.dangerous__item
                .dangerous__wrapper
                    span.dangerous__num 700
                    span.dangerous__count млн.
                p.dangerous__text человек даже не догадываются о том, что у них гипертония

            li.dangerous__item.dangerous__item--inner
                .dangerous__wrapper
                    p.dangerous__inner За последние
                    span.dangerous__num 30
                    span.dangerous__count лет
                p.dangerous__text количество людей с гипертонией удвоилось!


        ul.dangerous-happen

            h3.dangerous-happen__title Что произойдет, если не лечить гипертонию?

            ul.dangerous-happen__list
                li.dangerous-happen__item.dangerous-happen__item--heart Ишемическая болезнь сердца
                li.dangerous-happen__item.dangerous-happen__item--attack Инфаркт миокарда
                li.dangerous-happen__item.dangerous-happen__item--stroke Инсульт
                li.dangerous-happen__item.dangerous-happen__item--failure Хроническая сердечная недостаточность
                li.dangerous-happen__item.dangerous-happen__item--aneurysm Аневризма и высокий риск разрыва стенок сосуда
                li.dangerous-happen__item.dangerous-happen__insufficiency Почечная недостаточность
                li.dangerous-happen__item.dangerous-happen__item--vision Ослабление зрения вплоть до слепоты
                li.dangerous-happen__item.dangerous-happen__item--dementia Деменция - болезнь Альцгеймера











