section.decision.block
    .container
        h2.decision__title.title Tonerin - комплексное&nbsp;
            ins решение
            |  проблем с высоким давлением!





        .decision__wrapper
            ul.decision__list.decision__list--top
                li.decision__item Убирает головную боль
                li.decision__item Стабилизирует артериальное давление
                li.decision__item Повышает эластичность сосудов
                li.decision__item Нормализует сон
                li.decision__item Повышает работоспособность



            picture
                //source(type='image/webp' media='(min-width:1024px)' srcset='img/expert.webp')
                source(media='(min-width:1024px)' srcset='img/line-blue.svg')
                source(srcset='img/dot.png')
                img.decision__img(src="img/line-blue.svg", alt="line")



            ul.decision__list.decision__list--bottom
                li.decision__item Устраняет дискомфорт в области сердца
                li.decision__item Нормализует сердечный ритм
                li.decision__item Очищает сосуды от “плохого” холестерина
                li.decision__item Успокаивает нервную систему
                li.decision__item Улучшает память
                li.decision__item Улучшает обменные процессы


        .decision-expert

            picture
                //source(type='image/webp' media='(min-width:1024px)' srcset='img/expert.webp')
                //source(media='(min-width:1024px)' srcset='img/expert.png')
                //source(srcset='img/dot.png')
                img.decision-expert__img(src="img/expert.png", alt="line")


            .decision-expert__info

                p.decision-expert__text Я занимаюсь лечением гипертонии уже более 40 лет. По моим наблюдениям, около 70% пациентов с таким диагнозом умирают в течение пяти лет - потому что при повышении давления просто “сбивают” его таблетками, не устраняя причины его возникновения. Когда мне показали Tonerin, я внимательно изучил его состав и понял: наконец-то создано средство, которое не просто снижает на время давление, но и помогает избавиться от гипертонии навсегда! Теперь я рекомендую всем, страдающим повышенным давлением, пройти курс Tonerin. Результаты впечатляющие: 8 из 10 моих пациентов избавились от гипертонии!

                span.decision-expert__name Беленков Юрий Никитич,

                span.decision-expert__about президент Российского Научного общества специалистов по сердечной недостаточности, член Президиума Российского общества кардиологов.



