section.forget.block.bg
    .container
        h2.forget__title.title Tonerin поможет&nbsp;
            ins забыть
            |  о гипертонии


        .forget__wrapper

            p.forget__text Ученые поставили перед собой задачу: разработать средство на натуральной основе - такое, которое было бы эффективным, но не имело бы побочных эффектов (как многие синтетические средства из аптек). В результате исследований они обратили внимание на мелиссу. Это растение имеет уникальный состав: флавоноиды, органические кислоты, дубильные вещества, кумарины, калий, цинк, железо, марганец, селен и витамины группы В.

            p.forget__text Благодаря этому мелисса обладает седативным, спазмолитическим, иммуномодулирующим, болеутоляющим свойствами. При этом, прием экстракта мелиссы не имеет побочных эффектов, которые характерны при приеме синтетических средств: тошноты, сонливости, болей в животе, сухости во рту и так далее. Для усиления эффективности в состав Tonerin включены витамины и экстракты растений, улучшающие работу сердца и очищающие сосуды.


        img.forget__img(src="img/product-complex.png", alt="product")


