header.header.bg
    .container

        .header__wrapper


            ///h1 tonerin

            img.header__logo(src="img/logo.svg", alt="logo")


            .burger
                span.burger-global.burger-top
                span.burger-global.burger-middle
                span.burger-global.burger-bottom



            nav.header__nav.nav.bg


                a.nav__link(href="#") О продукте
                a.nav__link(href="#") Инновационный cостав

                //img.nav__logo(src="img/logo.svg", alt="logo")

                a.nav__link(href="#") Отзывы покупателей
                a.nav__link(href="#") Как заказать
