section.symptoms.block.bg
    .container
        h2.symptoms__title.title
            ins Симптомы
            |  гипертонии


        ul.symptoms__list

            li.symptoms__item Шумы в ушах

            li.symptoms__item Раздражительность

            li.symptoms__item Потоотделение

            li.symptoms__item Головные боли

            li.symptoms__item Отечность вокруг глаз

            li.symptoms__item Нарушения памяти

            li.symptoms__item Покраснение лица

            li.symptoms__item Озноб

            li.symptoms__item Снижение работоспособности

            li.symptoms__item  Головокружения

            li.symptoms__item Тревога

            li.symptoms__item  Проблемы со сном

            li.symptoms__item Учащенное сердцебиение

            li.symptoms__item Постоянная усталость

            li.symptoms__item Онемение и отечность пальцев ног и рук


        //arrow img
        img.symptoms__arrow(src="img/arrow.svg", alt="arrow")

        p.symptoms__text Если у вас есть хоть один из этих симптомов, у вас может быть гипертония!

        .symptoms__warning Ежегодно от гипертонии в мире
            mark.symptoms__mark  умирает 7 млн. человек!






